<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='../public/css/style.css'>

    <style>
        body {
            background-image: url("background2.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        
        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
            -webkit-text-stroke: 0.5px black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Registration</h1>
    </div>
    <div class="cont">
        <div>
            <% for(var i=0;i<errors.length;i++){%>
                <ul>
                    <li>
                        <%=errors[i]%>
                    </li>
                </ul>

                <%}%>
        </div>


        <form method='post' action='/registration'>
            Username: <br>
            <input type="text" id="user" name="username" class='username' minlength='8' required> <br> Password: <br>
            <input type="password" id="password" name="password" class='password' minlength='8' required> <br>
            <br>
            <input type="submit" id="simple_click" class="btn btn-secondary submit" value="Register"> <br>
        </form>
    </div>
    <script src='../public/scripts/registeration.js' charset='utf-8'>
    </script>

</body>



</html>